body {
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); 
    border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c0c0c0;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5); 
}

#cityName{
    
}

input{
    background: #fff;
    border: 2px solid #111;
    border-radius: 5px;
    display: inline-block;
    color: #111;
    font-family: monospace;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    width: auto;
    height: auto;
    padding: 3px 5px;
    margin: 2px;
}

button{
    background: #ddd;
    border: 2px solid #111;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    color: #111;
    font-family: monospace;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: auto;
    height: auto;
    padding: 3px 5px;
    margin: 2px;
}
button:hover{
    background: #ccc;
}
button:active{
    background: #ddd;
}

.border {
    padding: 2px;
    border: 1px solid black;
    margin-bottom: 1px;
}

/*jQuery-ui fixes*/

.ui-widget {
	font-size: 12px;
}

/*Game Frame*/

#game-tabs { 
    background: #fff; 
    border: none; 
} 
#game-tabs .scroller {
    overflow: auto;
}
#game-tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#game-tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#game-tabs .ui-tabs-nav .ui-state-active { 
    background: transparent url(images/uiTabsArrow.png) no-repeat bottom center; 
    border: none; 
} 
#game-tabs .ui-tabs-nav .ui-state-default a { 
    color: #959595; 
    font-weight: bold;
} 
#game-tabs .ui-tabs-nav .ui-state-active a { 
    color: #111;
    font-weight: bold; 
}

/*Game Frame Sortable List*/

.game-layer-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left; 
}

.game-layer-2 {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
}

.game-layer-2 li { 
    margin: 3px 3px 3px 0;
    padding: 1px; 
    float: left; 
    width: 75px; 
    height: 75px; 
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
}

.game-layer-2 li:hover {
    background-color: #eee;
}

.game-layer-2 li:active {
    background-color: #fff;
}

/*Table*/

table {
    border-collapse: collapse;
}

th.left, td.left {
    text-align: left;
}

th.right, td.right {
    text-align: right;
}

th.left-padding, td.left-padding {
    padding-left: 10px;
}

.vseperator th:not(:last-child), .vseperator td:not(:last-child) {
    border-right: 1px solid #888;
    padding-right: 3px;
}

.vseperator th:not(:first-child), .vseperator td:not(:first-child) {
    padding-left: 3px;
}

/*Popup*/

.shadow {
    box-shadow: 3px 3px 5px #888;
}

#popup {
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    height: 200px;
    width: 500px;
    top: 0px;
    left: 0px;
}

#popup div.left {
    height: 100%;
    width: 50%;
    float: left;
    overflow: auto;
}

#popup div.right {
    height: 100%;
    width: 50%;
    float: right;
    overflow: auto;
}

#popup .padding-div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
}

#popup .content {
    height: 100%;
    overflow: auto;
}

#popup table {
    border: 0px;
}

#popup tr td:first-child {
    width: 100%;
}

/*Debug Frame*/

#debug {
    display: none;
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 152px;
    min-height: 21px;
}

#debug-button {
    display: block;
    position: absolute;
    width: 150px;
    height: 20px;
    right: 0px;
    background: #808080;
    color: #ffffff;
    text-align: center;
    border: 1px solid #000000;
    border-bottom: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#debug-div {
    display: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 4px;
    width: 410px;
    height: 300px;
    float: left;
}

.debugInput{
    width: 40px;
    text-align: center;
}

#debug-tabs { 
    background: #fff; 
    border: none; 
} 
#debug-tabs .scroller {
    overflow: auto;
}
#debug-tabs ul{
    width: 540px;
}
#debug-tabs .content{
    height: 266px;
}
#debug-tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#debug-tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#debug-tabs .ui-tabs-nav .ui-state-active { 
    background: transparent url(images/uiTabsArrow.png) no-repeat bottom center; 
    border: none; 
} 
#debug-tabs .ui-tabs-nav .ui-state-default a { 
    color: #959595; 
    font-weight: bold;
} 
#debug-tabs .ui-tabs-nav .ui-state-active a { 
    color: #111;
    font-weight: bold; 
}