body {
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); 
    border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c0c0c0;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5); 
}

.button{
    background: #ddd;
    border: 2px solid #111;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    color: #111;
    font-family: monospace;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: auto;
    height: auto;
    padding: 3px 5px;
    margin: 2px;
}
.button:hover{
    background: #ccc;
}
.button:active{
    background: #ddd;
}

/*Debug Frame*/

#debug {
    display: none;
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 152px;
    min-height: 21px;
}

#debug-button {
    display: block;
    position: absolute;
    width: 150px;
    height: 20px;
    right: 0px;
    background: #808080;
    color: #ffffff;
    text-align: center;
    border: 1px solid #000000;
    border-bottom: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#debug-div {
    display: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 4px;
    width: 400px;
    height: 300px;
    float: left;
}

#debug-tabs { 
    background: transparent; 
    border: none; 
} 
#debug-tabs .scroller {
    overflow: auto;
}
#debug-tabs ul{
    width: 390px;
}
#debug-tabs .content{
    height: 266px;
}
#debug-tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#debug-tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#debug-tabs .ui-tabs-nav .ui-state-active { 
    background: transparent url(img/uiTabsArrow.png) no-repeat bottom center; 
    border: none; 
} 
#debug-tabs .ui-tabs-nav .ui-state-default a { 
    color: #959595; 
    font-weight: bold;
} 
#debug-tabs .ui-tabs-nav .ui-state-active a { 
    color: #111;
    font-weight: bold; 
}